body {
    background-color: wheat;
}

table {
    background-color: #3969FF;
    width: max-content;
    align-items: center;
}

table#trophy-towers {
    background-color: #eea404;
}

table button {
    color: white;
    margin: 1vmin;
}