body {
    background-color: wheat;
}

table {
    background-color: #3969FF;
    width: max-content;
    align-items: center;
}

table#trophy-towers {
    background-color: #eea404;
}

table button {
    color: white;
    margin: 1vmin;
}

div#log {
    background-image: url(https://img.freepik.com/free-vector/hand-drawn-4th-july-independence-day-illustration_23-2148960997.jpg);
    background-size: 100% 100%;
    font-size: 200%;
    text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white;
    position: fixed;
    bottom: 0;
    right: 1%;
}